:root {
    --bg-color: #000;
    --tile-color: #09653f;
    --tile-hover: #1aa169;
    --accent-color: #42f4b6;
    --text-color: #42f4b6;
    --category-color: #42f4b6;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

header h1 {
    padding: 30px 0;
}

/* Rules Section */
#rules {
    max-width: 700px;
    margin: 0 auto 75px;
    text-align: left;
}

/* Jeopardy Board */
#board {
    max-width: 1400px;
    margin: 40px;
    padding: 30px;
    background: var(--tile-color);
    border-radius: 20px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

th {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 16px;
    font-size: 0.9rem;
    border-radius: 10px;
}

td a {
    display: block;
    width: 100px;
    height: 60px;
    line-height: 60px;
    background-color: var(--background-color);
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 10px;
}

td a:hover {
    background-color: var(--tile-hover);
}

/* Challenge Boxes */
.challenge {
    max-width: 500px;
    margin: 30px auto;
    padding: 24px;
    background-color: var(--tile-color);
    border-radius: 16px;
    text-align: left;
}

.challenge a {
    color: var(--accent-color);
}